body{
    /* background: url('/assets/grid.jfif'); */
    /* background: url('/assets/bg.png'); */
    background: url('/assets/bg2.png');
    /* background: rgb(32, 32, 32); */
    /* background: #f0f0f0; */
}
.nav{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background: rgb(0, 119, 255);
    border-radius: none;
    padding: 0px 50px;
    box-sizing: border-box;
    z-index: 1000;
    user-select: none;
}
.nav h1{
    color: white;
}
.component{
    position: relative;
    user-select: none;
    overflow: visible;
    color: #bb2e36!important;
    border: none!important;
    outline: none!important;
}
.component::before{
    background: #ffeaa7!important;
}
.component_selector{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.component_selector .component{
    margin: 10px 15px;
}
.nav > a{
    font-size: 16pt;
    color: white;
    text-decoration: none;
}
.dependent{
    border-radius: none;
    background: none;
    border: none;
    position: relative;
    width: 42.426406871192846px;
    height: 42.426406871192846px;
}
.dependent::before{
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
    content: '';
    z-index: -1;
    border-radius: 0!important;
}
.dependent span{
    transform: -45deg;
}
.inductor{
    flex-direction: row-reverse;
    justify-content: space-around;
    font-size: 12pt;
    user-select: none;
    position: relative;
    transform: rotate(90deg);
    background: transparent;
}
.inductor h4{
    width: 60px;
    height: 60px;
    content: '';
    background-image: url("/assets/inductor.png");
    background-position: center;
    background-size: contain;
    transform: rotate(90deg);
    background-repeat: no-repeat;
}
.inductor.flip-top{
    transform: rotate(-90deg);
}
.inductor.flip-top span{
    transform: rotate(90deg);
}
.inductor.flip-right{
    transform: rotate(0deg);
}
.inductor.flip-left{
    transform: rotate(180deg);
}
.inductor.flip-bottom{
    transform: rotate(90deg);
}
.inductor.flip-top span{
    transform: rotate(90deg);
}
.inductor .connector_node.from{
    bottom:  unset;
    right: -15px;
}
.inductor .connector_node.to{
    top:  unset;
    left: -15px;
}
.capacitor{
    flex-direction: row-reverse;
    justify-content: space-around;
    position: relative;
    box-sizing: border-box;
    background: transparent;
}
.capacitor h4{
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.capacitor .vr{
    width: 3px;
    height: 80%;
    background: black;
    content: '';
    margin: 0px 5px;
    box-sizing: border-box;
}
.capacitor.flip-top{
    transform: rotate(-90deg);
}
.capacitor.flip-top span{
    transform: rotate(90deg);
}
.capacitor.flip-right{
    transform: rotate(0deg);
}
.capacitor.flip-left{
    transform: rotate(180deg);
}
.capacitor.flip-bottom{
    transform: rotate(90deg);
}
.capacitor.flip-bottom span{
    transform: rotate(90deg);
}
.capacitor .connector_node.from{
    bottom:  unset;
    right: -15px;
}
.capacitor .connector_node.to{
    top:  unset;
    left: -15px;
}
body{
    padding: 0px 60px;
    box-sizing: border-box;
}
.simulator_container{
    width: 1000vw;
    height: 1000vh;
    display: grid;
    grid-auto-rows: 60px;
    grid-auto-columns: 60px;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    padding: 0px 0px;
    margin: 0px 0px 0px 60px;
    margin-right: 60px;
    cursor: move;
}
.context-menu{
    position: absolute;
    top: 200px;
    left: 200px;
    min-width: 225px;
    min-height: 50px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: gray;
    z-index: 50;
}
.context-menu > a{
    width: 100%;
    padding: 15px 25px;
    transition: 0.2s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}
.context-menu > a i{
    margin: 0px 10px;
}
.context-menu > a:hover{
    background: #909090;
}
.connector_node{
    width: 20px;
    height: 20px;
    background: rgb(0, 128, 49);
    border-radius: 100px;
    content: '';
    position: absolute;
    z-index: -10;
}
.connector_node.from{
    bottom: -15px;
}
.connector_node.to{
    top: -15px;
}
.dependent .connector_node.from{
    bottom: -20px;
}
.dependent .connector_node.to{
    top: -20px;
}
.component::before{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
    z-index: -1;
    content: '';
}
.resistance h4:nth-child(2){
    width: 60px;
    height: 60px;
    content: '';
    background-image: url("/assets/resistance.png");
    background-position: center;
    background-size: contain;
    transform: rotate(0deg);
    background-repeat: no-repeat;
}
.resistance{
    background: transparent;
}
.resistance .connector_node.from{
    bottom: 20px;
    right: -15px;
}
.resistance .connector_node.to{
    top: 20px;
    left: -15px;
}
.v_wire{
    width: 6px;
    height: 60px;
    background: orange;
    padding: 0px;
    margin: 0px;
}
.h_wire{
    width: 60px;
    height: 6px;
    background: orange;
    padding: 0px;
    margin: 0px;
}
.binding_wire{
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    position: relative;
    padding: 0px;
    margin: 0px;
    transform: rotate(0deg);
}
.binding_wire .v_binder{
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0px;
    left: 0px;
}
.binding_wire .v_binder .v_wire{
    height: 32px;
}
.binding_wire .h_binder{
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
}
.binding_wire .h_binder .h_wire{
    width: 32px;
}
.simulator_bg{
    width: 1000vw;
    position: absolute;
    top: 0vh;
    left: 0px;
    height: 1000vh;
    z-index: -11;
    cursor: move;
}
.simulator_bg .v-wire{
    width: 1px;
    height: 100vh;
    background: orange;
    content: '';
    margin: 0px;
    position: absolute;
    top: 0vh;
    left: 0px;
}
.simulator_bg .h-wire{
    width: 100vw;
    height: 1px;
    background: orange;
    content: '';
    margin: 0px;
    position: absolute;
    top: 0vh;
    left: 0px;
}
.node{
    user-select: none;
    cursor: pointer;
    position: relative;
}
.node h5{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
}
.node_placeholder{
    font-size: 24;
    background: none;
    border: 2px dashed orange;
    box-sizing: border-box;
    transition: 0.1s ease-in-out;
}
.node_placeholder:hover{
    background: rgba(255, 166, 0, 0.045);
}
.node input{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
    text-align: center;
    font-size: 16pt;
    color: white;
    user-select: none;
    cursor: pointer;
}
.node input:disabled{
    user-select: none;
    cursor: pointer;
}
.node.ground_node{
    background: rgb(123, 27, 123);
}
.sidebar{
    width: 500px;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    top: 0px;
    left: -500px;
    z-index: 15000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: midnightblue;
    color: white;
    padding: 50px 0px 5vh 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: 0.2s ease-in-out;
}
.sidebar a{
    color: white;
    text-decoration: none;
}
.sidebar .footer{
    width: 100%;
    height: 10vh;
    text-align: center;
    /* position: fixed;
    bottom: 0px;
    left: 0px;
    background: midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.sidebar .footer a{
    text-decoration: underline;
}
.sidebar #close_sidebar{
    position: absolute;
    top: 0px;
    left: calc(100% - 50px);
    font-size: 16pt;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar #analyze_circuit_btn{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 15px 25px;
    box-sizing: border-box;
}
.sidebar .submenu{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 25px 0px 0px 0px;
    height: 10vh;
}
.sidebar .submenu > li{
    width: 25%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.sidebar .submenu > li:hover{
    background: royalblue;
}
.sidebar .submenu > li.active{
    background: royalblue;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.sidebar .content{
    width: 100%;
    /* min-height: 90vh; */
    padding: 25px 10px;
    box-sizing: border-box;
}
.sidebar .content .msg{
    width: 100;
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-weight: bold;
}
.sidebar .content > h4{
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 18pt;
}
.sidebar .content > h5{
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
    font-size: 14pt;
    font-weight: bold;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sidebar .content .nodes_container{
    width: 100;
    position: relative;
    padding: 0px 5px;
    box-sizing: border-box;
}
.sidebar .content .nodes_container .output_component{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.sidebar .content .nodes_container .output_component h5{
    font-size: 14pt;
    height: 100%;
}
.sidebar .content .sources_container{
    width: 100;
    position: relative;
    padding: 0px 5px;
    box-sizing: border-box;
}
.sidebar .content .sources_container .output_component{
    width: 100%;
    margin: 10px 0px;
}
.sidebar .content .sources_container .output_component h5{
    font-size: 14pt;
    height: 100%;
}
.sidebar .content .sources_container .output_component ul{
    margin-left: 40px;
}
.sidebar .content .sources_container .output_component ul li{
    font-size: 12pt;
    margin: 5px 0px;
}
.sidebar .content .elements_container{
    width: 100;
    position: relative;
    padding: 0px 5px;
    box-sizing: border-box;
}
.sidebar .content .elements_container .output_component{
    width: 100%;
    margin: 10px 0px;
}
.sidebar .content .elements_container .output_component h5{
    font-size: 14pt;
    height: 100%;
}
.sidebar .content .elements_container .output_component ul{
    margin-left: 40px;
}
.sidebar .content .elements_container .output_component ul li{
    font-size: 12pt;
    margin: 5px 0px;
}
.sidebar .content .errors_container{
    width: 100%;
    position: relative;
    padding: 0px 15px;
}
.sidebar .content .errors_container li{
    width: 100;
    margin: 10px 0px;
}
.component .label{
    position: absolute;
    min-width: 60px;
    height: 60px;
    top: 0px;
    right: 65px;
    color: black;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    white-space: nowrap;
}
.component.flip-right .label{
    transform: rotate(-90deg);
    right: 55px;
}
.component.flip-bottom .label{
    transform: rotate(-180deg);
}
.component.flip-left .label{
    transform: rotate(90deg);
    right: 55px;
}
.resistance.flip-top .label{
    transform: rotate(90deg);
    top: unset;
    bottom: 75px;
    right: unset;
}
.resistance.flip-right .label{
    transform: rotate(0deg);
    top: unset;
    bottom: 60px;
    right: unset;
}
.resistance.flip-bottom .label{
    transform: rotate(-90deg);
    top: unset;
    bottom: 75px;
    right: unset;
}
.resistance.flip-left .label{
    transform: rotate(180deg);
    top: unset;
    bottom: 60px;
    right: unset;
}
.capacitor.flip-top .label{
    transform: rotate(90deg);
    top: unset;
    bottom: 75px;
    right: unset;
}
.capacitor.flip-right .label{
    transform: rotate(0deg);
    top: unset;
    bottom: 60px;
    right: unset;
}
.capacitor.flip-bottom .label{
    transform: rotate(-90deg);
    top: unset;
    bottom: 75px;
    right: unset;
}
.capacitor.flip-left .label{
    transform: rotate(180deg);
    top: unset;
    bottom: 60px;
    right: unset;
}
.inductor.flip-top .label{
    transform: rotate(90deg);
    top: unset;
    bottom: 75px;
    right: unset;
}
.inductor.flip-right .label{
    transform: rotate(0deg);
    top: unset;
    bottom: 60px;
    right: unset;
}
.inductor.flip-bottom .label{
    transform: rotate(-90deg);
    top: unset;
    bottom: 75px;
    right: unset;
}
.inductor.flip-left .label{
    transform: rotate(180deg);
    top: unset;
    bottom: 60px;
    right: unset;
}
.sidebar .content .input_component{
    width: 100%;
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.2);
    overflow: hidden;
    max-height: 50px;
    transition: 0.25s ease-in-out;
    margin: 20px 0px;
}
.sidebar .content .input_component .title{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}
.sidebar .content .input_component .title i{
    transition: 0.5s ease-in-out;
}
.sidebar .content .input_component .input_data{
    padding: 10px;
    position: relative;
}
.sidebar .content .input_component .input_data input{
    width: 100%;
    padding: 15px 25px;
    border: 1px solid royalblue;
    outline: none;
    background: transparent;
    color: white;
    box-sizing: border-box;
    margin: 10px 0px;
}
.sidebar .content .input_component .input_data input:disabled{
    background: #bebebe;
    color: black;
    user-select: none;
    cursor: not-allowed;
}
.sidebar .content .input_component .input_data select{
    width: 100%;
    padding: 15px 25px;
    border: 1px solid royalblue;
    outline: none;
    background: transparent;
    color: white;
    box-sizing: border-box;
    margin: 10px 0px;
}
.sidebar .content .input_component .input_data select option{
    color: black;
}
.sidebar .content .input_component .input_data > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.sidebar .content .input_component .input_data > div > div{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.sidebar .content .input_component .input_data > div a{
    width: 45%;
    height: 50px;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
}
.sidebar .content .input_component .input_data > a{
    width: 90%;
    height: 50px;
    padding: 15px 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 15px auto;
}
.sidebar .content .input_component.active{
    max-height: 600px;
}
.sidebar .content .input_component.active .title i{
    transform: rotate(180deg);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 119, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 108, 232);
  }

  .resistance .dependent_label{
    position: absolute;
    top: 60px;
    right: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: rotate(90deg);
    color: black;
  }
  .resistance.flip-left .dependent_label span{
    transform: rotate(90deg);
  }
  .resistance.flip-right .dependent_label span{
    transform: rotate(-90deg);
  }
  .resistance.flip-bottom .dependent_label span{
    transform: rotate(180deg);
  }
  .resistance .dependent_label div i{
    color: #bb2e36;
    font-size: 16pt;
  }

  .resistance .dependent_label div span{
  display: inline-block;
  }

  .capacitor .dependent_label{
    position: absolute;
    top: 60px;
    right: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: rotate(90deg);
    color: black;
  }
  .capacitor .dependent_label span{
    transform: rotate(0deg);
  }
  .capacitor.flip-left .dependent_label span{
    transform: rotate(90deg);
  }
  .capacitor.flip-right .dependent_label span{
    transform: rotate(-90deg);
  }
  .capacitor.flip-bottom .dependent_label span{
    transform: rotate(180deg);
  }
  .capacitor .dependent_label div i{
    color: #bb2e36;
    font-size: 16pt;
  }

  .capacitor .dependent_label div span{
  display: inline-block;
  }

  .inductor .dependent_label{
    position: absolute;
    top: 60px;
    right: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: rotate(90deg);
    color: black;
  }
  .inductor .dependent_label span{
    transform: rotate(0deg);
  }
  .inductor.flip-left .dependent_label span{
    transform: rotate(90deg);
  }
  .inductor.flip-right .dependent_label span{
    transform: rotate(-90deg);
  }
  .inductor.flip-bottom .dependent_label span{
    transform: rotate(180deg);
  }
  .inductor .dependent_label div i{
    color: #bb2e36;
    font-size: 16pt;
  }

  .inductor .dependent_label div span{
  display: inline-block;
  }

  .sidebar .content .settings_component{
    width: 100%;
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.2);
    overflow: hidden;
    max-height: 50px;
    transition: 0.25s ease-in-out;
    margin: 20px 0px;
}
.sidebar .content .settings_component .title{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}
.sidebar .content .settings_component .title i{
    transition: 0.5s ease-in-out;
}
.sidebar .content .settings_component .data{
    padding: 10px;
    position: relative;
}
.sidebar .content .settings_component .data > h6{
    font-size: 12pt;
    display: flex;
    align-items: center;
}

.sidebar .content .settings_component .data ul{
    margin-left: 40px;
}
.sidebar .content .settings_component .data ul li{
    font-size: 12pt;
    margin: 5px 0px;
}
.sidebar .content .settings_component .input_data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.sidebar .content .settings_component .input_data > div{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 5px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
}
.sidebar .content .settings_component .input_data > div label{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    width: 100%;
}
.sidebar .content .settings_component .input_data input{
    width: 100%;
    padding: 15px 25px;
    border: 1px solid royalblue;
    outline: none;
    background: transparent;
    color: white;
    box-sizing: border-box;
    margin: 10px 0px;
}
.sidebar .content .settings_component .input_data select{
    width: 100%;
    padding: 15px 25px;
    border: 1px solid royalblue;
    outline: none;
    background: transparent;
    color: white;
    box-sizing: border-box;
    margin: 10px 0px;
}
.sidebar .content .settings_component .input_data select option{
    color: black;
}
.sidebar .content .settings_component > a{
    width: 90%;
    height: 50px;
    padding: 15px 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 15px auto;
    border: 1px solid royalblue;
    transition: 0.2s ease-in-out;
}
.sidebar .content .settings_component > a sub{
    align-self: flex-end;
}
.sidebar .content .settings_component > a:hover{
    background: royalblue;
}
.sidebar .content .settings_component.active{
    max-height: 600px;
}
.sidebar .content .settings_component.active .title i{
    transform: rotate(180deg);
}
.sidebar .content .frequency_component{
    width: 100%;
    overflow: hidden;
    transition: 0.25s ease-in-out;
    margin: 20px 0px;
    padding: 10PZ;
    box-sizing: border-box;
}
.sidebar .content .frequency_component input{
    width: 100%;
    padding: 15px 25px;
    border: 1px solid royalblue;
    outline: none;
    background: transparent;
    color: white;
    box-sizing: border-box;
    margin: 10px 0px;
}
.sidebar .content .frequency_component > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.sidebar .content .frequency_component > div a{
    width: 45%;
    height: 50px;
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
}